 *{/*Reseteo del html*/
    margin: 0;
    padding: 0;
 }

/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

 /*  font-family: "Urbanist", sans-serif;*/
 @font-face {
    font-family: decorativa;
    src: url(../assets/fonts/LEMONMILK-Regular.otf);
 }
 /*Estilos Generales*/
 body{
    font-family:"Urbanist", sans-serif;
    background-color: aqua;
 }
img{
    max-width: 100%;
}
/* ESTILOS de Header: son todos iguales */
header{
    background-color: #ff451c;
    color: white;
    font-size: 1.2rem;
    width: 100%;
}
/*Ruta de especificidad*/
header nav ul li{
     list-style: none;
}
header nav div ul li a{
    text-decoration: none;
    color: white;
}
ul a:hover{
   text-decoration: underline;

}
/* ESTILOS de Main*/
main{
    background-color: rgb(245, 245, 245);

}
.contenedorGaleria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,auto);
    align-items: center;
    grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img3";
    padding: 2rem;
    gap: 1.5rem;
}

.galeria1 {
    grid-area: img1;
}
.galeria2 {
    grid-area: img2;
}
.galeria3 {
    grid-area: img4;
}
.galeria4 {
    grid-area: img3 ;
}
.galeria5 {
    grid-area: img5;
}
/* ESTILOS de footer*/
footer{
    background-color:black;
}
.logoFooter{
    margin:10px 10px 0px 20px;
}
.textFooter{
    color: white;
    font-family: "decorativa";
    font-size: 0.7rem;
    margin:25px 20px 0px 20px;
}
footer nav ul li{
 list-style: none;
}
footer nav ul li a{
    text-decoration: none;
    color: white;
}

/*SELECTOR DE ETIQUETAS comentario */
h1{
    color: #ff451c;
    font-family: "decorativa";
}
/*SELECTOR class o clases se puede repetir en el html*/
.texto_index{
 color: blue;
}

/*SELECTOR id : no se puede repetir,se usa mas en otro lenguaje*/

/* Media Query Tablet (es un condicional) */
@media (min-width:501px) and (max-width:1023px) {
    .contenedorGaleria{
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(3,auto);
        grid-template-areas:
        "img1 img2"
        "img4 img5" 
        "img3 img3";
    }
}


/* Media Query mobile (es un condicional) */
@media (max-width: 500px) {
    .contenedorGaleria{
        grid-template-columns:1fr;
        grid-template-rows:repeat(4,auto);
        grid-template-areas:
        "img1"
        "img2" 
        "img4"
        "img5"
        "img3";
    }
    
}

