

.holaMain{
    background-color: rgb(156, 10, 83);
}
.contenedorMainizq{
    width: 100%;
    padding: 12rem 0 0 0;
}

.contenedorMainder{
    background-position: center;
    background-image:url(../assets/img/mainMujer.png) ;   
    background-repeat: no-repeat;
    width:100%;
}