

.holaMain{
    width: 100%;
    display: flex;
    flex-direction:column;
    padding: 2rem 4rem 0;
}
.contenedorHola{
    width: 100%;
}
.contenedorHolacolumnas{
    display: flex;
    flex-direction: row;
    width:100%;
}
.textoHola{
    width: 50%;
}
.holaDerecha{
    background-position: center;
    background-image:url(../assets/img/mainMujer.png) ;
    background-repeat: no-repeat;
    width: 50%;
} 