//variables (guardando un valor)
$colorPrincipal:#ff451c;
$colorbtnPrincipal:#ffffff;
$colorFooter:black;
$fuenteBase: "Urbanist", sans-serif;
$fuenteH1:"decorativaBold";
$acentodeColor:#77ff1c;
$colorSecudariotexto:#575f72;